{% extends 'base.html' %}
{% load static %}

{% block title %} | Cart {% endblock title %}

{% block content %}
    <div class="my-form container p-5 my-5 rounded border border-warning">
        <h2 class="text-center">Cart</h2>
        <hr>   
        {% if order %}
        <h5>Full name:<span class="my-num">{{order.user.first_name|add:' '|add:order.user.last_name}}</span></h5>
        <hr>
        Order Number: <span class="my-num">{{order.id}}</span>
        with total: <span class="my-num">{{total}}Dhs</span>
        for <span class="my-num">{{orderdetail.count}}</span> Products
        <hr>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Image</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price(Dhs)</th>
                    <th scope="col">Subtotals(Dhs)</th>
                    <th scope="col">Control</th>
                </tr>
            </thead>
            <tbody>
                
                {% for line in orderdetail %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{line.product.name|title}}</td>
                    <td><img src="{{line.product.photo.url}}" style="width:70px; height:70px ; " alt="line.product.name"></td>
                    <td>
                        <a href="{% url 'sub_QTY' orderdetails_id=line.id %}" class="btn btn-outline-warning btn-sm">-</a>
                        {{line.quantity}}
                        <a href="{% url 'add_QTY' orderdetails_id=line.id %}" class="btn btn-outline-warning btn-sm">+</a>
                    </td>

                    <td>{{line.price}}</td> 
                    <td style="font-weight:bold; color:darkred;">{% widthratio line.price 1 line.quantity %}</td>
                    <td>
                        <a href="{% url 'remove_from_cart' orderdetails_id=line.id %}" class="btn btn-outline-danger btn-sm">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <h5 class="alert alert-warning"> No Order Here</h5>
        {% endif %}
            
    </div>
{% endblock content %}