{% extends 'base.html' %}
{% block title %}| Checkout {% endblock title %}
{% block content %}
    <div class="my-form container p-5 my-5 rounded border border-warning">
        <h2 class="text-center">Checkout</h2>
        <hr>
        {% include 'partials/messages.html' %}

        
        {% if not order %}
        <h4 class="alert alert-warning">
            No Order here
        </h4>
        {% else %}
        {% if is_added == True %}
            <form method='POST' style="display: none;">
        {% else %}
            <form method='POST'>
        {% endif %}
            {% csrf_token %}
            Order Number: <span class="my-num">{{order.id}}</span>
            <hr>
            Product Count: <span class="my-num">{{orderdetail.count}}</span>
            <hr>
            Total Ammount: <span class="my-num">{{total}} Dhs</span>
            <hr>
            <a href="{% url 'cart' %}" class="btn btn-secondary">Cart Details</a>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">Shipment Address</label>
                    <input type="text" name="shipment_address" class="form-control" id="inputshipmentaddress" required value="{{shipmentaddress}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Shipment Phone</label>
                    <input type="text" name="shipment_phone" class="form-control" id="inputshipmentphone" required value="{{shipmentphone}}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Card Number</label>
                    <input type="text" name="card_number" class="form-control" id="inputcardnumber" placeholder="3333 3333 3333 3333" required  value="{{cardnumber}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputZip">Expire</label>
                    <input type="text" name="expire" class="form-control" id="inputexpire" placeholder="mm/YY" required  value="{{expire}}">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Security Code</label>
                    <input type="text" name="security_code" class="form-control" id="inputsecuritycode" placeholder="3333" required  value="{{securitycode}}">
                </div>
            </div>

            <button type="submit" name='btnpayment' class="btn btn-warning">Payment</button>
        </form>
        {% endif %}

    </div>
{% endblock content %}